{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Group Detail{% endblock %}
{% block extra_header %}
<link rel="stylesheet" href="{% static 'css/message.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<style>
    .title {
        white-space: nowrap; 
        max-width: 150px; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .location {
        white-space: nowrap; 
        max-width: 280px; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
{% endblock%}
{% block content %}
{% include 'navbar.html' %}
<section class="mt-7 py-0">
    <!-- <div class="bg-holder w-50 bg-right d-none d-lg-block" style="background-image:url(assets/img/gallery/hero-section-1.png);"></div> -->
    <!--/.bg-holder-->
    <div class="container pt-5">
        <h1 class="display-5 text-1000 fw-normal d-inline">{{group.name}} - Activities</h1>
        {% if group.creator == user %}
        <h1 class="fs-4 text-1000 fw-normal d-inline ms-3 text-primary">*this is your group</h1>
        {% elif requested_before %}
        <h1 class="fs-4 text-1000 fw-normal d-inline ms-3 text-danger">*you sent request</h1>
        {% elif user in group.member.all %}
        <h1 class="fs-4 text-1000 fw-normal d-inline ms-3 text-danger"></h1>
        {% elif group.can_request %}
        <h1 class="fs-4 text-1000 fw-normal d-inline ms-3"><a href="" data-bs-toggle="modal" data-bs-target="#requestModal">send request</a></h1>
        {% else %}
        <h1 class="fs-4 text-1000 fw-normal d-inline ms-3 text-danger">*this group is full</h1>
        {% endif %}
        <p class="mb-0 ms-2">Owner: <a href="{% url 'profile' group.creator.id %}">{{group.creator.username}}</a></p>
        <!-- Modal -->
        <div class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="requestModalLabel">Request to join {{group.name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'request' group.id %}" method="POST">
                    {% csrf_token %}
                        <div class="modal-body">
                            <label for="message">message here</label>
                            <textarea name="message" id="" cols="10" rows="3" class="form-control"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Event</th>
                            <!-- <th scope="col">Creator</th> -->
                            <th scope="col">Location</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                        <tr>
                            <th scope="row" class="title"><a href="{% url 'filtered_activity' group.id event.id  %}">{{event.title}}</a></th>
                            <!-- <td><a href="{% url 'profile' event.group.creator.id %}">{{event.group.creator.username}}</a></td> -->
                            <td class="location" data-bs-toggle="tooltip" data-bs-placement="top" title="{{event.location}}">
                                {{event.location}}
                            </td>
                            <td>{{event.date}}</td>
                            <td>{{event.starttime}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-5 py-5 ms-5">
                <div class="portlet portlet-default">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <h4 class="pt-1">"{{event.title}}"</h4>
                        </div>
                        <div class="portlet-widgets">
                            <div class="btn-group">
                                <button type="button" class="btn btn-white" data-toggle="dropdown">
                                    {% if event.is_past %}
                                    <i class="fa fa-circle text-red"></i> Status: Done
                                    {% else %}
                                    <i class="fa fa-circle text-green"></i> Status: Incoming
                                    {% endif %}
                                    <span class="caret"></span>
                                </button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="chat" class="panel-collapse in">
                        <div>
                        <div class="portlet-body chat-widget" style="overflow-y: auto; width: auto; height: 300px;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="text-center text-muted small">Meet on {{event.date}} at {{event.starttime}}</p>
                                </div>
                            </div>
                            <div id="message_area">
                                {% include 'partial/chat.html' %}
                                <!-- {% for message in messages %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="media">
                                                <div class="media-body">
                                                    <div class="d-flex mb-3">
                                                        {% if message.sender.photo %}
                                                        <img class="media-object img-circle img-chat" src="{{message.sender.photo.url}}" alt="user_photo">
                                                        {% endif %}
                                                        <h4 class="media-heading ms-2">{{message.sender.username}}
                                                            <span class="small pull-right">{{message.created_at}}</span>
                                                        </h4>
                                                    </div>
                                                    <p>{{message.message}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% for comment in message.comments.all %}
                                    <div class="row text-end">
                                        <div class="col-lg-12">
                                            <div class="media">
                                                <div class="media-body">
                                                    <div class="mb-3 justify-content-end">
                                                        <p class="mb-0">{{comment.sender.username}}</p>
                                                        {% if comment.sender.photo %}
                                                        <img class="media-object img-circle img-chat" src="{{comment.sender.photo.url}}" alt="user_photo">
                                                        {% endif %}
                                                    </div>
                                                    <p>{{comment.comment}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %} -->
                            <!-- </div>
                            <p>
                                <button class="btn btn-primary py-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapseExample">
                                    reply
                                </button>
                            </p>
                            <div class="collapse" id="collapse{{forloop.counter}}">
                                <form action="{% url 'comment' message.id %}" method="POST">
                                    {% csrf_token %}
                                    <textarea name="comment" id="" cols="30" rows="3" class="form-control" placeholder="reply here"></textarea>
                                    <button class="btn btn-secondary py-0 mt-2">send</button>
                                </form>
                            </div>
                            <hr>
                            {% endfor %} -->
                            </div>
                        </div>
                        {% if user in group.member.all or user == group.creator %}
                        <div class="portlet-footer">
                            <span class="text-danger m_error"></span>
                            <form action="" method="POST" novalidate id="form_message" group="{{group.id}}" event="{{event.id}}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Enter message..." name="message" id="text_message"></textarea>
                                </div>
                                <div class="form-group d-flex justify-content-end">
                                    <button class="btn btn-secondary pull-right">Send</button>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <!-- end of chat -->
                </div>
            </div>
        </div>
        <!-- end of row -->
    </div>
</section>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}