{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Group Management{% endblock %}
{% block extra_header %}
<link rel="stylesheet" href="{% static 'css/group.css' %}">
<link rel="stylesheet" href="{% static 'css/map.css' %}">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<section class="mt-7 py-0">
    <div class="container pt-5">
        <h1 class="display-5 text-1000 fw-normal d-inline">{{group.name}}</h1>
        <h1 class="fs-4 text-1000 fw-normal d-inline ms-3"><a href="{% url 'activity' group.id %}">see activities</a></h1>
        {% if user == group.creator %}
        <h1 class="fs-4 text-1000 fw-normal d-inline ms-3"><a href="" data-bs-toggle="modal" data-bs-target="#invitationModal">send invitation</a></h1>
        {% endif %}
        <!-- Modal -->
        <div class="modal fade" id="invitationModal" tabindex="-1" aria-labelledby="invitationModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="invitationModalLabel">Request to join {{group.name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'invite' group.id %}" method="POST">
                    {% csrf_token %}
                        <div class="modal-body">
                            <label for="message">select user here</label>
                            <select name="user" id="" class="form-control">
                                <option value=""></option>
                                {% for non_member in non_members %}
                                    <option value="{{non_member.id}}">{{non_member.username}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary">Invite</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end of Modal -->
        <div class="row">
            <div class="col-lg-6 py-5 py-xl-5 py-xxl-7 pe-5">
                {% if user == group.creator %}
                <input
                    id="pac-input"
                    class="controls"
                    type="text"
                    placeholder="Search Box"
                />
                {% endif %}
                <div class="text-center">
                    <div class="text-center">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    <div class="mb-3 row">
                        <label for="staticGym" class="col-sm-3 col-form-label">Gym Name:</label>
                        <div class="col-sm-9">
                            {% if user == group.creator %}
                                {{form.gym|as_crispy_field}}
                            {% else %}
                                <p class="pt-2" id="id_gym">{{group.gym}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticAddress" class="col-sm-3 col-form-label">Address:</label>
                        <div class="col-sm-9">
                            {% if user == group.creator %}
                                {{form.address|as_crispy_field}}
                            {% else %}
                                <p class="pt-2" id="id_address">{{group.address}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticLimit" class="col-sm-3 col-form-label">Member Limit:</label>
                        <div class="col-sm-2">
                            {% if user == group.creator %}
                                {{form.limit|as_crispy_field}}
                            {% else %}
                                <p class="pt-2">{{group.limit}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticLevel" class="col-sm-3 col-form-label">Fitness Level:</label>
                        <div class="col-sm-9">
                            {% if user == group.creator %}
                                {{form.level|as_crispy_field}}
                            {% else %}
                                <p class="pt-2">{{group.get_level_display}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticDescription" class="col-sm-3 col-form-label">Description:</label>
                        <div class="col-sm-9">
                            {% if user == group.creator %}
                                {{form.description|as_crispy_field}}
                            {% else %}
                                <p class="pt-2">{{group.description}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Leader:</label>
                        <div class="col-sm-9 pt-2">
                            <a href="{% url 'profile' group.creator.id %}"><p>{{group.creator.username}}</p></a>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Members:</label>
                        <div class="col-sm-9 pt-2">
                            {% for member in group.member.all %}
                                <a href="{% url 'profile' member.id %}" class="me-3">{{member.username}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% if user == group.creator %}
                    <div class="d-flex justify-content-center pt-4">
                        <button class="btn btn-warning px-5 me-3">Edit</button>
                        <button class="btn btn-danger px-5">Delete</button>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
        <!-- end of row -->
    </div>
</section>
{% endblock %}
{% block javascript %}
<script
    src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initAutocomplete&libraries=places&v=weekly"
    async
></script>
<script src="{% static 'js/map_display_search.js' %}"></script>
{% endblock %}