{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<section class="mt-7 py-0">
    <!-- <div class="bg-holder w-50 bg-right d-none d-lg-block" style="background-image:url(assets/img/gallery/hero-section-1.png);"></div> -->
    <!--/.bg-holder-->
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h1 class="display-6 pt-5 text-primary fw-bold">Let's make a day better!!</h1>
            </div>
            <div class="col-lg-5">
                <h1 class="display-6 pt-5 text-1000 fw-normal">Event Bulletin Board</h1>
            </div>
            <div class="col-lg-5 py-5 py-xl-5 py-xxl-5">
                <div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <form class="row g-4 ms-4" method="POST" novalidate>
                                {% csrf_token %}
                                <div class="col-sm-12 col-md-12 col-xl-11">
                                    <div class="input-group-icon">
                                        <!-- <i class="fas fa-calendar"></i> -->
                                        <!-- <input class="form-control input-box" id="inputEvent" type="text" placeholder="Your Event" name="title"/> -->
                                        {{form.title|as_crispy_field}}
                                        <span class="nav-link-icon text-800 fs--1 input-box-icon"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-xl-11">
                                    <div class="input-group-icon">
                                        <!-- <i class="fas fa-user"></i> -->
                                        <!-- <input class="form-control input-box" id="inputGroup" type="text" placeholder="Your Group" name="group"/> -->
                                        {{form.group|as_crispy_field}}
                                        <span class="nav-link-icon text-800 fs--1 input-box-icon"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-xl-11">
                                    <div class="input-group-icon">
                                        <!-- <i class="fas fa-map-marker-alt"></i> -->
                                        <!-- <input class="form-control input-box" id="inputLocation" type="text" placeholder="Your Location" name="location"/> -->
                                        {{form.location|as_crispy_field}}
                                        <span class="nav-link-icon text-800 fs--1 input-box-icon"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-xl-5">
                                    <div class="input-group-icon">
                                        <!-- <i class="fas fa-calendar"></i> -->
                                        <!-- <input class="form-control input-box" id="inputDate" type="date" placeholder="Date" name="date"/> -->
                                        {{form.date|as_crispy_field}}
                                        <span class="nav-link-icon text-800 fs--1 input-box-icon"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-xl-5">
                                    <div class="input-group-icon">
                                        <!-- <i class="fas fa-calendar"></i> -->
                                        <!-- <input class="form-control input-box" id="inputDate" type="time" placeholder="Start Time" name="starttime"/> -->
                                        {{form.starttime|as_crispy_field}}
                                        <span class="nav-link-icon text-800 fs--1 input-box-icon"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-10 col-lg-12 d-grid mt-5"><button class="btn btn-secondary" type="submit">Let's Set</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 py-4 py-xl-4 py-xxl-4">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Event</th>
                            <th scope="col">Group</th>
                            <th scope="col">Creator</th>
                            <th scope="col">Location</th>
                            <th scope="col">Date</th>
                            <th scope="col">Start Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                        <tr>
                            <th scope="row" class="text-nowrap">{{event.title}}</th>
                            <td class="text-nowrap"><a href="{% url 'group' event.group.id %}">{{event.group}}</a></td>
                            <td class="text-nowrap"><a href="{% url 'profile' event.group.creator.id %}">{{event.group.creator.username}}</a></td>
                            <td class="text-nowrap">{{event.location}}</td>
                            <td class="text-nowrap">{{event.date}}</td>
                            <td class="text-nowrap">{{event.starttime}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <nav aria-label="Message navigation">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
                                </li>
                            {% endif %}
                            {% for page_num in page_obj.paginator.page_range %}
                                {% if page_num == page_obj.number %}
                                    <li class="page-item active"><a class="page-link" href="?page={{page_num}}">{{page_num}}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{page_num}}">{{page_num}}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        <!-- end of row -->
        </div>
    </div>
</section>
{% endblock %}