{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock %}
{% block extra_header %}
<link rel="stylesheet" href="{% static 'css/cover.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<style>
    .trash_box{
        width: 25px;
        height: 25px;
    }
</style>
{% endblock %}
{% block content %}
<body class="d-flex h-100 text-center justify-content-center">
    {% include 'navbar.html' %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <div class="col-lg-12 py-5 py-xl-5 py-xxl-5">
                <div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <form class="row g-4 ms-4 d-flex justify-content-center" method="POST" novalidate id="form_event">
                                <h1 class="phase mb-4">Let's make a day better!!</h1>
                                {% csrf_token %}
                                <div class="row mb-4 justify-content-center">
                                    <div class="col-sm-12 col-md-12 col-xl-6">
                                        <div class="input-group-icon">
                                            {{form.title|as_crispy_field}}
                                            <span class="nav-link-icon text-800 fs--1 input-box-icon"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4 justify-content-center">
                                    <div class="col-sm-12 col-md-12 col-xl-6">
                                        <div class="input-group-icon">
                                            {{form.group|as_crispy_field}}
                                            <span class="nav-link-icon text-800 fs--1 input-box-icon"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4 justify-content-center">
                                    <div class="col-sm-12 col-md-12 col-xl-6">
                                        <div class="input-group-icon">
                                            {{form.location|as_crispy_field}}
                                            <span class="nav-link-icon text-800 fs--1 input-box-icon"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4 justify-content-center">
                                    <div class="col-sm-6 col-md-6 col-xl-3 me-2">
                                        <div class="input-group-icon">
                                            {{form.date|as_crispy_field}}
                                            <span class="nav-link-icon text-800 fs--1 input-box-icon"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xl-3">
                                        <div class="input-group-icon">
                                            {{form.starttime|as_crispy_field}}
                                            <span class="nav-link-icon text-800 fs--1 input-box-icon"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-xl-4 col-lg-4 d-grid"><button class="btn btn-primary" type="submit" id="set_btn">Let's Set</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="mt-auto text-white-50">
            <div class="col-lg-12 py-4 py-xl-4 py-xxl-4" id="table_col">
                {% include 'partial/table.html' %}
            </div>
            <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
        </footer>
    </div>
    <!-- end of cover-container -->
</body>
{% endblock %}
{% block javascript %}
<script>
    // select dropdown and autofill location input
    $('#id_group').on('change', function(){
        var address = $('option:selected', this).attr('address')
        $('#id_location').val(address);
    })
    var css = 
        '.phase {animation-name:test; animation-duration:5s; animation-iteration-count:infinite; } @keyframes test{ 0%{color:#ff0000} 20%{color:#00ff00} 40%{color:#ffff00} 60%{color:#0000ff} 80%{color:#00ffff} 100%{color:#ff0000}', 
        head = document.head || document.getElementsByTagName('head')[0], 
        style = document.createElement('style'); style.type = 'text/css'; 
        if (style.styleSheet){ style.styleSheet.cssText = css; } else { style.appendChild(document.createTextNode(css)); } head.appendChild(style);
</script>
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/pagination.js' %}"></script>
{% endblock %}