{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock %}
{% block extra_header %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
{% if not not_responded %}
<div class="text-center py-5"><h3>There is no invitation you have..</h3></div>
{% else %}
<div class="container">
    <div class="row mx-2">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 border-bottom mt-5">
            <div class="row mb-3 text-center">
                <h3>You have a invitation from {{current_inv.group.name}}</h3>
                <h3>Do you like to join?</h3>
                <div class="text-center mt-3">
                    <a href="{% url 'accept_invitation' current_inv.id %}" class="me-3"><button class="btn btn-secondary">Yes</button></a>
                    <a href="{% url 'reject_invitation' current_inv.id %}" class="me-3"><button class="btn btn-secondary">No</button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 py-5 py-xl-5 py-xxl-7 pe-5">
            <div class="text-center">
                <div class="text-center">
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
                <div class="mb-3 row">
                    <label for="staticGym" class="col-sm-3 col-form-label">Gym Name:</label>
                    <div class="col-sm-9">
                        <p class="pt-2" id="id_gym">{{current_inv.group.gym}}</p>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticAddress" class="col-sm-3 col-form-label">Address:</label>
                    <div class="col-sm-9">
                        <p class="pt-2" id="id_address">{{current_inv.group.address}}</p>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticLimit" class="col-sm-3 col-form-label">Member Limit:</label>
                    <div class="col-sm-2">
                        <p class="pt-2">{{current_inv.group.limit}}</p>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticLevel" class="col-sm-3 col-form-label">Fitness Level:</label>
                    <div class="col-sm-9">
                        <p class="pt-2">{{current_inv.group.get_level_display}}</p>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticDescription" class="col-sm-3 col-form-label">Description:</label>
                    <div class="col-sm-9">
                        <p class="pt-2">{{current_inv.group.description}}</p>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Leader:</label>
                    <div class="col-sm-9 pt-2">
                        <a href="{% url 'profile' current_inv.group.creator.id %}"><p>{{current_inv.group.creator.username}}</p></a>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Members:</label>
                    <div class="col-sm-9 pt-2">
                        {% for member in current_inv.group.member.all %}
                            <a href="{% url 'profile' member.id %}" class="me-3">{{member.username}}</a>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- end of row -->
</div>
<!-- end of container -->
{% endif %}
{% endblock %}
{% block javascript %}
<script
    src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap"
    async defer
></script>
<script src="{% static 'js/map_display_search.js' %}"></script>
{% endblock %}